/****************************************Copyright (c)**************************************************
**                                        ICT
**                                     
**---------------------------------------File Info-----------------------------------------------------
** File name:           template
** Last modified Date:  xx-xx-xx
** Last Version:        1.0
** Descriptions:        xxxxxxxxxxxxxxxxxx
**------------------------------------------------------------------------------------------------------
** Created by:          username
** Created date:        ${date}
** Version:             1.0
** Descriptions:        xxxxxxxxxxxxxxxxxx
**
**------------------------------------------------------------------------------------------------------
** Modified by:         user-name
** Modified date:    	x-x-x	
** Version:             1.0
** Descriptions:        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
**
**------------------------------------------------------------------------------------------------------
********************************************************************************************************/

#include <iostream>

using namespace std;

int main(){
    return 0;
}
