/****************************************Copyright (c)**************************************************
**                                        ICT
**                                     
**---------------------------------------File Info-----------------------------------------------------
** File name:           template
** Last modified Date:  xx-xx-xx
** Last Version:        1.0
** Descriptions:        xxxxxxxxxxxxxxxxxx
**------------------------------------------------------------------------------------------------------
** Created by:          username
** Created date:        xx-xx-xx
** Version:             1.0
** Descriptions:        xxxxxxxxxxxxxxxxxx
**
**------------------------------------------------------------------------------------------------------
** Modified by:         user-name
** Modified date:    	x-x-x	
** Version:             1.0
** Descriptions:        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
**
**------------------------------------------------------------------------------------------------------
********************************************************************************************************/
`timescale 1ns/1ns 
module  template (/*autoport*/
                 );
			  
//parameter define
 
//input define 
input                      sys_clk;
input                      sys_rst_n;
//output define 

//variable define 

//Instantiation

/*******************************************************************************************************
**                              Main Program    
**  
********************************************************************************************************/

//assign statement

//always statement
always @(posedge sys_clk or negedge sys_rst_n ) begin 
	if(!sys_rst_n) begin
	end
	else if(clr)begin
	end
	else if(Enable) begin
	end
end

endmodule
//*************************end of RTL code***********************                       
